/* CURRENTLY IN: styles/main.css */

.ui.attached.stackable.menu {
    background: #026aa7;
}

.ui.vertical.masthead {
    background: #026aa7;
}

.trello-logo {
    background-image: url(https://a.trellocdn.com/dist/images/header-logo-2x.01ef898811a879595cea.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 80px 30px;
    height: 30px;
    top: 0;
    right: 0;
    width: 80px;
    opacity: .5;
}

.trello-logo:hover {
    opacity: 1;
}

.todo--white {
    color: white !important;
    font-family: cursive;
}

.outline {
    color: #999;
}

#app .custom-icons .icon {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #fff;
}

.icon-box {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: hsla(0,0%,100%,.3);
    color: #f3f3f3;
}

.icon-box:hover {
    background: hsla(0,0%,90%,.3);
}

#app .board-header {
    margin-top: 10px;
}

#app a {
    color: #f3f3f3;
    display: flex;
    justify-content: center;
}

#app a:nth-child(5) {
    position: absolute;
    right: 0;
}

@media (max-width: 767px) {
    #app a:nth-child(5) {
        position: relative;
    }
}

.board-list {
    list-style: none;
    padding: 0;
}

.board-list-item {
    box-sizing: border-box;
}

.board-tile {
    background-color: rgb(0, 121, 191);
    background-size: cover;
    color: #fff;
    line-height: 20px;
    padding: 8px;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    min-height: 100px;
    font-weight: 700;
    font-size: 17px;
}

.board-tile:hover {
    background-color: rgb(0, 90, 191);
    cursor: pointer;
}

.board-tile-fade {
    display: block;
    background-color: rgba(0,0,0,.15);
}

.board-tile-details {
    display: block;
    min-height: 64px;
    padding-bottom: 16px;
    padding-right: 40px;
}

.member {
    background-color: #d6dadc;
    color: #4d4d4d;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

.member-initials {
    font-size: 12px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.segment {
    text-align: center;
}


